<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Custom source temporarily commented out for testing -->
    <!-- <add key="YborTechnologies-BigRooster-nuget" value="https://p6m.jfrog.io/artifactory/api/nuget/v3/YborTechnologies-BigRooster-nuget/index.json" /> -->
  </packageSources>
  <packageSourceCredentials>
    <!-- <YborTechnologies-BigRooster-nuget>
      <add key="Username" value="%ARTIFACTORY_USERNAME%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_IDENTITY_TOKEN%" />
    </YborTechnologies-BigRooster-nuget> -->
  </packageSourceCredentials>
</configuration>